[general]
transport_jid: pyvk-t.example.su
server: example.su
secret: someverylongpassphrasefortransport
port: 5349
# JID админа, ему доступны дополнительные команды
admin: admin@example.su

[database]
module: MySQLdb
host: db.example.su
user: dbuser
passwd: dbpassword
db: dbname

#всякие дополнительные фичи
[features]
#отображение аватарок. Раcкомментируйте для включения
#avatars: true

[debug]
#Путь для сохранения страниц, вызвавших ошибки. Оставьте пустым или закомментируйте для отключения.
dump_path: ./dumps