[general]
#jid: pyvk-t.localhost
#server: localhost
#secret: yourveeeeeeeerylongcomponentpassword
#port: 5349
#admin: vpupkin@localhost
#service_name: pyvk-t

[features]
#avatars: true
#sync_status: true
#status: Это сообщение будет видно пользователям в статусе транспорта

[storage]
#cache: ./cache
#datadir: ./data
#cookies: ./cookies

[debug]
#dump_path: dumps
